@charset "UTF-8";

.h1 {
	height: 1em;
}

.w1 {
	width: 1em;
}

.bordered {
	border: solid;
}

.title {
	font-size: 2em;
}

.subtitle {
	font-size: 1.5em;
}

.title, .subtitle {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.more::after {
	content: " ▾";
}

.icon a, a.icon {
	color: #000;
	text-decoration: none;
	transition: 0.5s;
	display: inline-block;
}

.icon a:hover, a.icon:hover {
	transform: scale(1.1);
}

.content {
    margin-left: 1.25em;
    margin-right: 1.25em;
}

.columns {
	display: flex;
}

.column {
	flex-grow: 1;
}

.blinking-cursor::after {
	content: "";
	animation: blinking-cursor-keyframes 1.2s step-end infinite;
}

@media (max-width: 720px) {
	.columns {
		flex-direction: column;
	}
}

@keyframes blinking-cursor-keyframes {
	0%, 100% {
		content: "█";
	}

	50% {
		content: "";
	}
}