@charset "UTF-8";

*, ::after, ::before {
	box-sizing: border-box;
}

html {
	font-family: "Arial", sans-serif;
	line-height: 1.5;
}

a {
	color: #00E;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img, iframe {
	max-width: 100%;
}

iframe {
	border: 0;
}

canvas {
	display: block;
	width: 100%;
	background: #FFF;
}

pre {
	font-size: 0.85em;
	overflow: auto;
}

label {
	display: inline-block;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

input, select {
	width: 100%;
	padding: 0.5em 0.75em;
	line-height: 1.25;
}

input[type="checkbox"] {
	width: auto;
}

option {
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	border-bottom: 2px solid #CCC;
}

td {
	border-top: 1px solid #CCC;
	text-align: center;
}