@charset "UTF-8";

#first-order-logic-tool-parsed {
	display: block;
	line-height: 1;
	white-space: nowrap;
	overflow-x: auto;
}

#first-order-logic-tool-interpretation ul {
	margin: 0;
}

.first-order-logic-tool-box {
	display: inline-block;
	padding: 0.5em;
	border: 2px solid;
	border-radius: 0.5em;
}