@charset "UTF-8";

@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css");
@import url("/css/base.css");
@import url("/css/rouge.css");
@import url("/css/base-classes.css");
@import url("/css/menu.css");

html {
	background: #EEE;
	height: 100%;
}

body {
	max-width: 60em;
	margin: 0 auto;
	background: #FFF;
	min-height: 100%;
}

main.content {
	padding-bottom: 1px;
	margin-bottom: -1px;
}

#header {
	background: #000;
	color: #FFF;
	font-family: "Consolas", monospace;
	padding-top: 1px;
	margin-top: -1px;
}

#header a {
	color: #FFF;
}

#header .content {
	margin: 1.25em;
}

#header-image {
	float: right;
	max-width: 13em;
	max-height: 13em;
	border: 0.5em solid #FFF;
	background: #FFF;
}

#header .menu, #header .submenu {
	background: #444;
}

#header .menu-item:hover, #header .submenu-item:hover {
	background: #222;
}

#header .menu .active {
	background: #000;
}

@media (max-width: 720px) {
	#header {
		text-align: center;
	}

	#header-image {
		max-width: 10em;
		max-height: 10em;
		float: none;
		display: block;
		margin: 1.25em auto;
	}

	#header .blinking-cursor::after {
		animation: none;
	}
}