html {
	font-family: "Arial", sans-serif;
	line-height: 1.8;
	background: #EEE;
	height: 100%;
}

body {
	max-width: 60em;
	margin: 0 auto;
	background: #FFF;
	min-height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

iframe {
	border: 0;
}

img {
	max-width: 100%;
}

pre {
	font-size: 0.85em;
	line-height: 1.5;
	overflow: auto;
}

.content {
	margin: 0 1.25em;
}

main.content {
	padding-bottom: 1px;
	margin-bottom: -1px;
}

.menu ul, ul.menu {
	list-style: none;
	padding-left: 0;
	display: flex;
}

.menu li > ul {
	position: absolute;
	display: none;
}

.menu li:hover > ul {
	display: flex;
	flex-direction: column;
}

.menu a {
	display: block;
	padding: 0.75em 1.25em;
}

.blinking-cursor::after {
	content: "";
	animation: blinking-cursor-keyframes 1.2s step-end infinite;
}

.more::after {
	content: " ▾";
}

#header {
	background: #000;
	color: #FFF;
	font-family: "Consolas", monospace;
	padding-top: 1px;
	margin-top: -1px;
}

#header-image {
	float: right;
	max-width: 14em;
	max-height: 14em;
	border: 0.5em solid #FFF;
	background: #FFF;
}

#header .menu ul {
	background: #444;
}

#header a {
	color: #FFF;
}

#header a:hover {
	background: #222;
}

#header .active {
	background: #000;
}

@keyframes blinking-cursor-keyframes {
	0%, 100% {
		content: "█";
	}

	50% {
		content: "";
	}
}

@media (max-width: 720px) {
	#header {
		text-align: center;
	}

	#header-image {
		max-width: 10em;
		max-height: 10em;
		float: none;
		display: block;
		margin: 1.25em auto;
	}

	#header .blinking-cursor::after {
		animation: none;
	}

	#header .menu ul, #header ul.menu {
		flex-direction: column;
	}

	#header .menu a {
		display: block;
	}
}