@charset "UTF-8";

.menu {
	list-style: none;
	padding-left: 0;
	display: flex;
}

.submenu {
	list-style: none;
	padding-left: 0;
	position: absolute;
	z-index: 2147483647;
	display: none;
}

.menu-item:hover .submenu {
	display: flex;
	flex-direction: column;
}

.menu-item-content, .submenu-item-content {
	display: block;
	padding: 0.75em 1.25em;
	cursor: pointer;
}