<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Matteo Morena" />
		{% if page.description != nil %}<meta name="description" content="{{ page.description | smartify }}" />{% endif %}
		{% if page.keywords != nil %}<meta name="keywords" content="{{ page.keywords | smartify }}" />{% endif %}
		<meta name="theme-color" content="#222" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ page.title | smartify }}—Mamo.dev</title>
		<base target="_blank" />
		{% comment %}<link rel="icon" href="favicon.ico" />{% endcomment %}
		<link rel="stylesheet" href="/css/main.css" />
		{% for style in page.styles %}<link rel="stylesheet" href="{{ style }}" />{% endfor %}
	</head>

	<body>
		<header id="header">
			<div id="header-top">
				<span id="header-title">Matteo Morena</span>
				<span id="header-subtitle" class="blinking-cursor">Software developer</span>
			</div>

			<nav class="menu">
				<span class="menu-hamburger">≡</span>

				<ul class="menu-item-list">
					{% for item in site.data.navigation %}
						<li class="menu-item {% if item.subitems != nil %}has-submenu{% endif %}">
							{% if item.url != nil %}
								<a class="menu-item-content" href="{{ item.url }}" {% unless item.external %}target="_self"{% endunless %}>{{ item.title | smartify }}</a>
							{% else %}
								<span class="menu-item-content">{{ item.title | smartify }}</span>
							{% endif %}

							{% if item.subitems != nil %}
								<ul class="submenu-item-list">
									{% for subitem in item.subitems %}
										<li class="submenu-item">
											{% if subitem.url != nil %}
												<a class="submenu-item-content" href="{{ subitem.url }}" {% unless subitem.external %}target="_self"{% endunless %}>{{ subitem.title | smartify }}</a>
											{% else %}
												<span class="submenu-item-content">{{ subitem.title | smartify }}</span>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<main>
			{% if page.article %}
				<article>
					{{ content }}
				</article>
			{% else %}
				{{ content}}
			{% endif %}
		</main>

		<script src="/js/main.js" defer="defer"></script>
		{% for script in page.scripts %}<script src="{{ script }}" defer="defer"></script>{% endfor %}
	</body>
</html>